#cal{
    background-color: rgba(35, 37, 37, 0.452);
    width:500px;
    height:450px;
    padding:15px;
    border-radius:30px ;
}
#text{
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(216, 228, 216);
    height:50px;
    font-size:2rem;
    padding-top: 10px;
    border-radius: 2px;
}

#display{
    background-color: rgb(234, 241, 241);
    margin-top: 10px;
    height:80px;
    border-radius: 3px;
    margin-bottom:4px;
    color: rgb(34, 34, 37);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    padding-left:85%;
    padding-top:25px;
    text-align:right;
    
}

#btn{
    background-color: rgb(85, 81, 81);
    height: 53px;
    margin:1px;
    width: 120px;
    display:inline-block;
    text-align: center;
    font-family:sans-serif;
    border-radius: 30px;
    border-color: rgba(169, 173, 173, 0.452);
    font-size: 2rem;
    color:rgb(240, 238, 238);
  
}
#btn:hover{
    background-color:orange ;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#btn2{
    background-color: rgb(85, 81, 81);
    height: 53px;
    margin:1px;
    width: 246px;
    display: inline-block;
    text-align: center;
    font-family:sans-serif;
    border-radius: 30px;
    border-color:rgba(169, 173, 173, 0.452);
    font-size: 2rem;
    color:rgb(240, 237, 234)
}
#btn2:hover{
    background-color:orange ;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#btn3{
    background-color: rgb(182, 82, 82);
    height: 53px;
    margin:1px;
    width: 120px;
    display: inline-block;
    text-align: center;
    font-family:sans-serif;
    border-radius: 30px;
    border-color: rgba(169, 173, 173, 0.452);
    font-size: 2rem;
    color:rgb(242, 246, 247);
}
#btn3:hover{
    background-color:orange ;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}